<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div class="txtcenter" style="margin:0 auto;padding-top:10px;">
	    <form class="layui-form layui-form-pane" action="" autocomplete="off">
	        <div class="layui-form-item">
	            <div class="layui-inline">
	                <label class="layui-form-label">标题</label>
	                <div class="layui-input-inline">
	                    <input type="text" id="title" name="title" placeholder="请输入知识库标题" class="layui-input" />
	                </div>
	                <label class="layui-form-label">状态</label>
	                <div class="layui-input-inline">
	                    <select id="state">
	                    	<option value="">全部</option>
	                    	<option value="1">审核中</option>
	                    	<option value="2">审核不通过</option>
	                    	<option value="3">审核通过</option>
	                    </select>
	                </div>
	                <label class="layui-form-label">一级类型</label>
					<div class="layui-input-inline">
						<select id="firstType" name="firstType" lay-filter="firstType" lay-search="">

						</select>
					</div>
					<label class="layui-form-label">二级类型</label>
					<div class="layui-input-inline">
						<select id="secondTypeId" name="secondTypeId" lay-filter="secondTypeId" lay-search="">

						</select>
					</div>
	                <button type="reset" class="layui-btn layui-btn-primary list-form-search">重置</button>
	                <button class="layui-btn list-form-search" type="button" id="formSearch">搜索</button>
	            </div>
	        </div>
	    </form>
	</div>
    <div class="winui-toolbar">
        <div class="winui-tool">
            <button id="reloadTable" class="winui-toolbtn"><i class="fa fa-refresh" aria-hidden="true"></i>刷新数据</button>
            <button id="addBean" class="winui-toolbtn"><i class="fa fa-plus" aria-hidden="true"></i>新增知识库</button>
            <button id="addAllBean" class="winui-toolbtn"><i class="fa fa-plus" aria-hidden="true"></i>批量上传</button>
        </div>
    </div>
    <div style="margin:auto 10px;">
        <table id="messageTable" lay-filter="messageTable"></table>
        <script type="text/html" id="tableBar">
            <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delet">删除</a>
			<a class="layui-btn layui-btn-xs" lay-event="details">详情</a>
        </script>
    </div>
    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/knowledgecontent/'}).use('knowledgecontentlist');
    </script>
</body>
</html>